.row {
  max-width: 940px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.distance {
  padding: 50px 0;
}

.titles {
  color: $tertiary-text-color;
  font: 31px $secondary-font;

  .thin {
    font-family: "BrandonGrotesque-Light", "Helvetica", sans-serif;;
  }
}

.text-center {
  text-align: center;
}

.under-title {
  color: $secondary-text-color;
  font: $secondary-font-size $primary-font;
}

.services {
  display: flex;
  justify-content: center;

  .intro {
    text-align: center;
  }
}

.text {
  padding: 15px 0 25px;
  color: $secondary-text-color;
  font: $tertiary-font-size $primary-font;
  letter-spacing: -0.45px;
  white-space: pre-line;
}

@media only screen and (min-width: 768px) {
  .services  .intro {
    margin: 0 40px;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .service-icon{
    align-items: center;
    display: flex;
  }

  .text {
    font-size: $primary-font-size;
    padding-bottom: 0;
  }

  .under-title {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1024px) {
  .row{
    padding: 0;
  }

  .titles {
    font-size: 60px;
  }

  .distance {
    padding: 100px 0;
  }
}