header {
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: transparent;
  position: absolute;

  .top {
    width: 100%;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;

    .company-logo {
      color: $primary-text-color;
      font: 25px "Cubano", "Helvetica", sans-serif;

      .fa-paper-plane {
        font-size: 30px;
      }
    }
  }
}

.site-navigation .main-menu,
.site-navigation > input {
  display: none;
}

.site-navigation > label {
  position: absolute;
  right: 20px;
  width: 36px;
  padding: 0;
  display: block;
  color: $primary-text-color;
  cursor: pointer;
  font-size: $fourth-seniority-font-size;
  user-select: none;
}

.site-navigation > input:checked + .main-menu {
  position: relative;
  top: 36px;
  background-color: #211d39;
  clear: both;
  display: block;

}

.site-navigation {
  height: 48px;
  display: block;

  .menu-item {
    padding: 12px 10px;
    display: block;
    font: $primary-font-size $tertiary-font;

    .anchor {
      color: $primary-text-color;
      text-decoration: none;
    }
  }
}

@media only screen and (min-device-width: 768px) {
  .site-navigation {
    height: auto;
  }

  .site-navigation {
    .main-menu {
      display: block;

      .menu-item {
        display: inline-block;
      }
    }
  }

  .site-navigation > label {
    display: none
  }

  .top {
    .company-logo {
      padding-left: 0;
    }
  }
}

