$primary-text-color:         #fff;
$secondary-text-color:       #777777;
$tertiary-text-color:        #222222;
$primary-bg-color:           #fafafa;
$secondary-bg-color:         #111111;

$primary-font:               "BrandonGrotesque-Regular", "Helvetica", sans-serif;
$secondary-font:             "BrandonGrotesque-Bold", "Helvetica", sans-serif;
$tertiary-font:              "BrandonGrotesque-Medium", "Helvetica", sans-serif;

$primary-font-size:          18px;
$secondary-font-size:        20px;
$tertiary-font-size:         16px;
$fourth-seniority-font-size: 36px;